@this(layout: Layout, govukButton: GovukButton)

@(arn:String)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Agent DashBoard")) {

<div class="govuk-width-container">

    <a href="@uk.gov.hmrc.agentsfrontend.controllers.routes.StartController.start()" class="govuk-back-link">Logout</a>

    <main class="govuk-main-wrapper--auto-spacing">

        <h1 class="govuk-heading-l govuk-!-font-weight-bold">Welcome to Dashboard</h1>

        <p>This is your ARN Number : @arn</p>
        <div class="govuk-button-group">
            <a href="@uk.gov.hmrc.agentsfrontend.controllers.routes.InputClientCodeController.inputClientCode()" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                Add a client
           </a>

            <a href="#" role="button" draggable="false" class="govuk-button govuk-button--warning" data-module="govuk-button">
                Delete a client
           </a>
        </div>

    </main>

</div>
}