@import uk.gov.hmrc.agentsfrontend.models.ClientCode
@import helper._

@this(layout: Layout, govukInput : GovukInput, errorSummary : GovukErrorSummary, govukButton: GovukButton)

@(form: Form[ClientCode])(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Add a Client"), isLoggedIn = true) {
    @helper.form(action = uk.gov.hmrc.agentsfrontend.controllers.routes.InputClientCodeController.submitClientCode()) {
    @if(form.errors.nonEmpty) { @defining(form.errors.map { error => ErrorLink(href = Some(s"#${error.key}"), content = Text(messages(error.message, error.args:_*)))}) { errorLinks => @errorSummary(ErrorSummary(errorList = errorLinks,title = Text(messages("Error Alert "))))}}

    @if(form.errors("crn").nonEmpty) {
    @govukInput(Input(id = "crn", name = "crn",label = Label(isPageHeading = true,classes = "govuk-label--m",content = Text("Add a client code")), hint = Some(Hint(content = Text("This is up to 10 characters long starting with 'CRN'."))), errorMessage = Some(ErrorMessage(content = Text("Please enter a Client Code.")))))
    } else {
    @govukInput(Input(id = "crn", name = "crn", hint = Some(Hint(content = Text("This is up to 10 characters long starting with 'CRN'."))), label = Label(isPageHeading = true, classes = "govuk-label--m", content = Text("Add a Client Code:"))))
    }
<button class="govuk-button" value="Submit" type="submit">
    Submit
</button>
<hr>
}
    <a class="govuk-link cancel" data-module="govuk-button"
       href="@uk.gov.hmrc.agentsfrontend.controllers.routes.DashBoardController.index">
        Cancel
    </a>
</div>
}

