@this(layout: Layout, govukButton: GovukButton)

@(success: Boolean)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Remove Clients Confirmation")) {

    <a href="@uk.gov.hmrc.agentsfrontend.controllers.routes.DashBoardController.index()" class="govuk-back-link">Back</a>
    @if(success){
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Successful
            </h1>
            <div class="govuk-panel__body">
                Client has been successfully unlinked from your account
            </div>
        </div>
    } else {
        <div class="govuk-panel govuk-panel--confirmation" style="background-color:red;">
            <h1 class="govuk-panel__title">
                Unsuccessful
            </h1>
            <div class="govuk-panel__body">
                Client has failed to be unlinked from your account
            </div>
        </div>
    }

}