@import helper._
@import uk.gov.hmrc.agentsfrontend.models.AgentLogin

@this(layout: Layout, govukButton: GovukButton, govukInput: GovukInput, govukErrorSummary : GovukErrorSummary)

@()(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Home Page")) {

<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <h1 class="govuk-heading-l">Agent Client Management</h1>
        <p class="govuk-body">Use this service to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Register as a new agent</li>
            <li>Link to a new client</li>
            <li>Manage clients</li>
        </ul>
        <p class="govuk-body">Registering takes around 5 minutes.</p>
        <a href="@uk.gov.hmrc.agentsfrontend.controllers.routes.AgentLoginController.agentLogin()" role="button"
           draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start"
           id="signIn" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                 viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
            </svg>
        </a>
        <h2 class="govuk-heading-m">Before you start</h2>
        <p class="govuk-body">You can also <a class="govuk-link" id="register" href="http://localhost:9000/registration/business-name/false">register as an Agent</a>.</p>
        <p class="govuk-body">You can also <a class="govuk-link" id="sign" href="http://localhost:9007/client-registration/login">sign in as an Client</a>.</p>
        <p class="govuk-body">You cannot register for this service if you're in the UK illegally.</p>
    </main>
</div>
}