@import helper._
@import uk.gov.hmrc.agentsfrontend.models.AgentLogin
@import uk.gov.hmrc.agentsfrontend.models.{AgentLogin, AgentLoginForm}

@this(layout: Layout, govukButton: GovukButton, govukInput: GovukInput, govukErrorSummary : GovukErrorSummary)

@()(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Home Page")) {

<h1 class="govuk-heading-xl">Agent System</h1>
<a name="submit-button" id="signIn" href="@uk.gov.hmrc.agentsfrontend.controllers.routes.AgentLoginController.agentLogin()" class="govuk-button" data-module="govuk-button" type="submit">Sign in</a>
</br>
<a name="submit-button" id="register" href="http://localhost:9000/registration/businessName/false" class="govuk-button" data-module="govuk-button" type="submit">Register</a>

}