@this(layout: Layout, govukButton: GovukButton)

@()(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Add a Client Success"), isLoggedIn = true) {

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Successful
            </h1>
            <div class="govuk-panel__body">
                Client Linked
            </div>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">You have now linked with a client.</p>
        <p class="govuk-body">
            We’ve sent your application to Hackney Electoral Register Office.
        </p>
        <p class="govuk-body">
            They will contact you either to confirm your registration, or to ask for more information.
        </p>



            <button class="govuk-button" href="@uk.gov.hmrc.agentsfrontend.controllers.routes.InputClientCodeController.getInputClientCode()">Add another client</button>
</br>
        <a href="@uk.gov.hmrc.agentsfrontend.controllers.routes.DashBoardController.index()" class="govuk-link">Return to dashboard</a>
    </main>
</div>

}
