@this(layout: Layout, govukButton: GovukButton)

@()(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Add a Client Success"), isLoggedIn = true) {

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Successful
            </h1>
            <div class="govuk-panel__body">
                Client Linked
            </div>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">You have linked with a client.</p>
        <p class="govuk-body">The client will now appear on your dashboard</p>

        <a class="govuk-button" href="@uk.gov.hmrc.agentsfrontend.controllers.routes.InputClientCodeController.getInputClientCode()">Add another client</a>
        </br>
        <a href="@uk.gov.hmrc.agentsfrontend.controllers.routes.DashBoardController.index()" class="govuk-link">Return to dashboard</a>

    </main>
</div>

}
