@import uk.gov.hmrc.agentsfrontend.models.Address
@import uk.gov.hmrc.govukfrontend.views.html.components._
@this(layout: Layout, govukInput : GovukInput, govukErrorSummary : GovukErrorSummary, govukButton: GovukButton)

@(form: Form[Address])(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Business Address"), isLoggedIn = true) {
<a href="@request.headers.get(" referer")" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-xl">Enter Address</h1>
@if(form.errors.nonEmpty) {
@defining(form.errors.map { error =>
ErrorLink(href = Some(s"#${error.key}"), content = Text(messages(error.message, error.args:_*)))
}) { errorLinks => @govukErrorSummary(ErrorSummary(
errorList = errorLinks,
title = Text(messages("There is a problem"))
))
}
}
@helper.form(uk.gov.hmrc.agentsfrontend.controllers.routes.UpdateAddressController.processAddress()) {

<div class="govuk-form-group">
    @if(form.errors("propertyNumber").nonEmpty) {
    @govukInput(Input(
    id = "propertyNumber",
    value = Some(form.data("propertyNumber")),
    name = "propertyNumber",
    classes = "govuk-input--width-10",
    errorMessage = Some(ErrorMessage(
    content = Text("Please the registered property number of your business, for example - '103b'"))),
    label = Label(
    isPageHeading = true,
    classes = "govuk-label--m",
    content = Text("Please enter the first line of your business address")
    )
    ))
    } else {
    @govukInput(Input(
    id = "propertyNumber",
    value = Some(form.data("propertyNumber")),
    name = "propertyNumber",
    classes = "govuk-input--width-10",
    hint = Some(Hint(content = Text("The registered property number of your business, for example - '103b'"))),
    label = Label(
    isPageHeading = true,
    classes = "govuk-label--m",
    content = Text("Please enter the first line of your business address")
    )
    ))
    }

    @if(form.errors("postcode").nonEmpty) {
    @govukInput(Input(
    id = "postcode",
    value = Some(form.data("postcode")),
    name = "postcode",
    classes = "govuk-input--width-10",
    errorMessage = Some(ErrorMessage(
    content = Text("Please enter the registered postcode of your business, for example - 'HA8 3NY'"))),
    label = Label(
    isPageHeading = true,
    classes = "govuk-label--m",
    content = Text("Please enter your business postcode")
    )
    ))
    } else {
    @govukInput(Input(
    id = "postcode",
    name = "postcode",
    value = Some(form.data("postcode")),
    classes = "govuk-input--width-10",
    hint = Some(Hint(content = Text("The registered postcode of your business, for example - 'HA8 3NY'"))),
    label = Label(
    isPageHeading = true,
    classes = "govuk-label--m",
    content = Text("Please enter your business postcode")
    )
    ))
    }
    <br>
    <button id="next-button" class="govuk-button" data-module="govuk-button">
        Next
    </button>
</div>
}
}