@import uk.gov.hmrc.agentsfrontend.models.ContactNumber
@import uk.gov.hmrc.govukfrontend.views.html.components._
@this(layout: Layout, govukInput : GovukInput, govukErrorSummary : GovukErrorSummary, govukButton: GovukButton)

@(form: Form[ContactNumber])(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Contact Number"), isLoggedIn = true) {
<h1 class="govuk-heading-xl">Update Contact Number</h1>
@if(form.errors.nonEmpty) {
@defining(form.errors.map { error =>
ErrorLink(href = Some(s"#${error.key}"), content = Text(messages(error.message, error.args:_*)))
}) { errorLinks => @govukErrorSummary(ErrorSummary(
errorList = errorLinks,
title = Text(messages("There is a problem"))
))
}
}
@helper.form(uk.gov.hmrc.agentsfrontend.controllers.routes.UpdateContactNumberController.processContactNumber) {
<div class="govuk-form-group">
    @if(form.errors("number").nonEmpty) {
    @govukInput(Input(
    id = "number",
    inputType = "number",
    name = "number",
    classes = "govuk-input--width-10",
    hint = Some(Hint(content = Text("The phone number you prefer to be contacted on, for example - '01615555555'"))),
    errorMessage = Some(ErrorMessage(
    content = Text("Please enter a valid phone number"))),
    label = Label(
    isPageHeading = true,
    classes = "govuk-label--m",
    content = Text("Contact Number")
    )
    ))
    } else {
    @govukInput(Input(
    id = "number",
    inputType = "number",
    name = "number",
    classes = "govuk-input--width-10",
    hint = Some(Hint(content = Text("The phone number you prefer to be contacted on, for example - '01615555555'"))),
    label = Label(
    isPageHeading = true,
    classes = "govuk-label--m",
    content = Text("Contact Number")
    )
    ))
    }
    <button id="next-button" class="govuk-button" data-module="govuk-button">
        Save and Continue
    </button>
    <hr>
    <div>
        <a class="govuk-link" data-module="govuk-button"
           href="@uk.gov.hmrc.agentsfrontend.controllers.routes.UpdateController.getDetails">
            Cancel
        </a>
    </div>
</div>
}
}