@this(layout: Layout, govukButton: GovukButton)

@()(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("User Management")) {

    <h1 class="govuk-heading-xl">Customer Service</h1>
    <p class="govuk-body">@{messages("service.home")}</p>

    <p class="govuk-body">@{messages("service.createSum")}</p>
    <form method="GET" action="/example-frontend/customerDetails">
        <button id="createButton" class="govuk-button" data-module="govuk-button">
            Register
        </button>
    </form>
    <hr class="govuk-section-break govuk-section-break govuk-section-break--visible">

    <p class="govuk-body">@{messages("service.updateSum")}</p>
    <form method="GET" action="/example-frontend/update">
        <button id="updateButton" class="govuk-button" data-module="govuk-button">
            Update
        </button>
    </form>
    <hr class="govuk-section-break govuk-section-break govuk-section-break--visible">

    <p class="govuk-body">@{messages("service.readSum")}</p>
    <form method="GET" action="/example-frontend/read">
        <button id="readButton" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Read
        </button>
    </form>
    <hr class="govuk-section-break govuk-section-break govuk-section-break--visible">

    <p class="govuk-body">@{messages("service.readAllSum")}</p>
    <form method="GET" action="/example-frontend/readAll">
        <button id="readAllButton" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Read All
        </button>
    </form>
    <hr class="govuk-section-break govuk-section-break govuk-section-break--visible">

    <p class="govuk-body">@{messages("service.deleteSum")}</p>
    <form method="GET" action="/example-frontend/delete">
        <button id="deleteButton" class="govuk-button govuk-button--warning" data-module="govuk-button">
            Delete
        </button>
    </form>


}